#add_anime_wrapper form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

form div {
  width: 250px;
}

input,
select,
textarea {
  background-color: #27272a;
  color: white;
  width: 100%;
}

#notes {
  display: block;
  width: 100%;
}

#add_anime_wrapper {
  top: 0;
  display: none;
  position: fixed;
  height: 100%;
  width: 80%;
  max-width: 1048px;
  background-color: #000000bd;
  justify-content: center;
}

#add_anime_dialogue {
  padding: 30px;
  position: absolute;
  background-color: #18181b;
  border-radius: 15px;
  width: 100%;
}
