

#container {
  width: 80%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  justify-content: flex-start;
  gap: 30px;
}

.search_anime {
  gap: 5px;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 10;
}

#button_wrapper button {
  width: 80px;
}

#button_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

td span {
  gap: 5px;
  display: flex;
  align-items: center;
}

td img {
  height: 60px;
  width: 40px;
}
