form {
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}

.search_container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 50%;
  margin: auto 0;
}

.container {
  width: 60%;
  margin: 0px auto;
}

.search_container {
  position: relative;
}

.search_anime {
  gap: 5px;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 10;
}

td span {
  gap: 5px;
  display: flex;
  align-items: center;
}

td img {
  height: 60px;
  width: 40px;
}
