html
  include mixins/anime/anime.pug
  include mixins/popups/editor.pug
  head
    title Home · Anitrack
    script(src="js/main.js" defer) 
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://fontlibrary.org//face/arco-perpetuo", type="text/css", media="screen")
    link(rel="stylesheet", href="https://fontlibrary.org//face/grammatika", type="text/css", media="screen")
    link(rel="stylesheet", href="css/main.css", type="text/css")
    link(rel="stylesheet", href="css/home.css", type="text/css")
    link(rel="stylesheet", href="css/editor.css", type="text/css")
  body
   .wrapper
        div(class="header")
            h1 Anitrack
            span(class="material-icons") gps_fixed
            
        form(action="http://localhost:3000/search", method="post", id="search_form")
            .search_container
                input(type="search", name="search", id="search")
                button(type="submit") search
            
        section(id="container")
            - for(const [status,entries] of list)
              +status_table(status,entries)
        +editor()
            

    
            
            
            